<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <form  method="post">
            <input type="hidden" name="_csrf" value="0d609fbc-b102-4b3f-aa97-0ab30c8fcfd4"/>
            제목
            <input type="text" name="title" th:value="${articleForm.title}">
            <br>
            내용
            <textarea name="content" id="" cols="30" rows="10" th:text="${articleForm.content}"></textarea>
            <button type="submit"> 게시글 등록</button>
        </form>
    </div>
</html>